appnope==0.1.0
decorator==4.0.2
docutils==0.12
Flask==0.10.1
gnureadline==6.3.3
hypothesis==1.10.5
inflection==0.3.1
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
path.py==7.6
pexpect==3.3
pickleshare==0.5
py==1.4.30
PyJWT==1.4.0
pytest==2.7.2
remodel==0.4.2
requests==2.7.0
rethinkdb==2.1.0
simplegeneric==0.8.1
six==1.9.0
tornado==4.2.1
traitlets==4.0.0
Werkzeug==0.10.4
