appnope==0.1.0
bcrypt==2.0.0
blinker==1.4
cffi==1.2.1
decorator==4.0.2
Django==1.8.3
django-enumfield==1.2.1
djangorestframework==3.1.3
djangorestframework-gis==0.9.3
docutils==0.12
Flask==0.10.1
gnureadline==6.3.3
hypothesis==1.10.5
inflection==0.3.1
ipython==4.0.0
ipython-genutils==0.1.0
iso8601==0.1.10
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
path.py==7.6
pexpect==3.3
pickleshare==0.5
pockets==0.2.4
py==1.4.30
pycparser==2.14
Pygments==2.0.2
PyJWT==1.4.0
pytest==2.7.2
remodel==0.4.2
requests==2.7.0
rethinkdb==2.1.0
Shapely==1.5.12
simplegeneric==0.8.1
six==1.9.0
Sphinx==1.2.3
sphinxcontrib-napoleon==0.3.11
tornado==4.2.1
traitlets==4.0.0
Werkzeug==0.10.4
