bcrypt==2.0.0
blinker==1.4
click==5.1
docutils==0.12
Flask==0.10.1
iso8601==0.1.10
jsonschema==2.5.1
PyJWT==1.4.0
pytest==2.7.2
requests==2.7.0
rethinkdb==2.1.0.post2
# Shapely==1.5.12
simplegeneric==0.8.1
six==1.9.0
Sphinx==1.2.3
sphinxcontrib-napoleon==0.3.11
Werkzeug==0.10.4
